<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>
            {{ page_name|capfirst|default:"Расписание" }}
        </title>
    {% endblock title %}
    {% block container %}
        {% if user.is_authenticated %}
            <div>Привет, {{ user }}</div>
        {% else %}
            <div>Здравствуйте!</div>
        {% endif %}
    {% endblock %}
</head>
<body>
    {% block menu %}
        <div class="menu">
            <ul>
                <li><a href="{% url 'programs:index' %}">Главная</a></li>
                <li><a href="{% url 'programsschedule:schedule' %}">Расписание занятий</a></li>
                <li><a href="">Регистрация</a></li>
            </ul>
        </div>
    {% endblock %}
    {% block content %}
    {% endblock%}
    {% block footer %}
    {% endblock %}
</body>
</html>
